@font-face {
  font-family: 'Run!';
  src: url('Run.ttf');
}

#logo-6455-particle {
  font-family: 'Run!';
  font-size: 300%;
}

.maps {
  height: 400px;
  width: 400px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  float: left;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map0 {
border-style: solid;
  border-width: 4px;
  border-color: blue;
}
#map1 {
    border-style: solid;
    border-width: 4px;
    border-color: pink;
}
img {
    height: 200px;
    width: 50%;
}

.g-header {
  margin-right: 14%;
  margin-left: 14%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.g-grid {
  margin-right: 14%;
  margin-left: 14%;
}

.g-container, .g-iconmenu, .g-iconmenu-text {
  text-align: center;
  border-radius: 0; 
  padding-right: -120%;
}

#iconmenu-3171-particle {
  text-align: center;
}

.g-block.size-44 {
  width: 100%;
}

.g-block.size-56 {
  width: 100%;
}