@font-face {
  font-family: 'Run!';
  src: url('Run.ttf');
}

#logo-6455-particle {
  font-family: 'Run!';
  font-size: 300%;
}
.col-3, .col-2, .col-4{
  text-align: center;
}
.height {
  height: 60px;
}
.g-header {
  margin-right: 14%;
  margin-left: 14%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.g-grid {
  margin-right: 14%;
  margin-left: 14%;
}

.g-container, .g-iconmenu, .g-iconmenu-text {
  text-align: center;
  border-radius: 0; 
  padding-right: -120%;
}

#iconmenu-3171-particle {
  text-align: center;
}

.g-block.size-44 {
  width: 100%;
}

.g-block.size-56 {
  width: 100%;
}

.form-group {
  width: 90%;
}